<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- The opt-in speech comparison refuses to run with an active network. -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <queries>
        <intent>
            <action android:name="android.speech.RecognitionService" />
        </intent>
    </queries>
    <application android:networkSecurityConfig="@xml/identity_network_security">
        <activity android:name=".identity.SignInActivity" android:exported="false" />
        <activity android:name="com.microsoft.identity.client.BrowserTabActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="msauth" android:host="fi.bundo" android:path="/JMd5dw0RAj/KIKcQy1gU4vBukKc=" />
            </intent-filter>
        </activity>
    </application>
</manifest>
